{
  "openapi": "3.1.0",
  "info": {
    "title": "End Close API",
    "description": "REST API is used to interact with the End Close platform.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.endclose.com/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    },
    "schemas": {
      "DataStream": {
        "type": "object",
        "required": [
          "key",
          "name"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique numeric identifier"
          },
          "key": {
            "type": "string",
            "description": "Unique immutable identifier"
          },
          "name": {
            "type": "string",
            "description": "Human readable name"
          },
          "description": {
            "type": "string",
            "description": "Optional description of the data stream"
          },
          "type": {
            "type": "string",
            "description": "The type of data stream (e.g. api, csv, stripe, bank_feed)"
          }
        }
      },
      "RecordPropertyDefinition": {
        "type": "object",
        "required": [
          "key",
          "name",
          "type",
          "data_stream_key"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "number",
              "date",
              "datetime",
              "string",
              "boolean"
            ]
          },
          "optional": {
            "type": "boolean",
            "default": false
          },
          "data_stream_key": {
            "type": "string",
            "description": "Must match an existing DataStream.key"
          }
        }
      },
      "BulkRequestSummary": {
        "type": "object",
        "description": "Summary returned when a bulk request is created or retrieved via idempotency key",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the bulk request"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed", "cancelled"],
            "description": "Current processing status"
          },
          "total_items": {
            "type": "integer",
            "description": "Number of records submitted"
          },
          "processed_items": {
            "type": "integer",
            "description": "Number of records processed so far"
          },
          "successful_items": {
            "type": "integer",
            "description": "Number of records successfully created"
          },
          "failed_items": {
            "type": "integer",
            "description": "Number of records that failed"
          },
          "skipped_items": {
            "type": "integer",
            "description": "Number of records skipped due to `on_conflict: skip` matching an existing `external_id`"
          },
          "url": {
            "type": "string",
            "description": "Polling URL to check progress (e.g. /v1/bulk_requests/123)"
          }
        }
      },
      "BulkRequest": {
        "type": "object",
        "description": "Full bulk request payload, returned by show, list, cancel, and retry endpoints.",
        "properties": {
          "id": { "type": "integer" },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed", "cancelled"],
            "description": "pending = queued, processing = records being inserted, completed = all rows processed, failed = job errored, cancelled = cancellation honored on a heartbeat"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Origin of the request (e.g. `bulk_api`, `csv`, `nacha`)"
          },
          "total_items": { "type": "integer" },
          "processed_items": { "type": "integer" },
          "successful_items": { "type": "integer" },
          "failed_items": { "type": "integer" },
          "skipped_items": {
            "type": "integer",
            "description": "Records skipped due to `on_conflict: skip` matching an existing `external_id`"
          },
          "progress": {
            "type": "integer",
            "description": "processed_items / total_items as a percentage (0-100)"
          },
          "filename": {
            "type": "string",
            "nullable": true,
            "description": "Original filename for CSV/NACHA uploads. Null for API-submitted requests."
          },
          "created_at": { "type": "string", "format": "date-time" },
          "started_at": { "type": "string", "format": "date-time", "nullable": true },
          "completed_at": { "type": "string", "format": "date-time", "nullable": true },
          "last_progress_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Heartbeat timestamp from the worker; used to detect stuck jobs"
          },
          "cancellation_requested_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Set by POST /bulk_requests/{id}/cancel; the worker exits at its next heartbeat"
          },
          "parsing": {
            "type": "boolean",
            "description": "True while a CSV/NACHA upload is still being parsed (before rows are enqueued)"
          },
          "stuck": {
            "type": "boolean",
            "description": "True if the request has been `processing` for more than 5 minutes without a heartbeat"
          },
          "error_message": { "type": "string", "nullable": true },
          "error_details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Free-form structured error context (e.g. row indices, validation errors)"
          },
          "parent_bulk_request_id": {
            "type": "integer",
            "nullable": true,
            "description": "If this request is a retry, the ID of the original (parent) bulk request"
          },
          "on_conflict": {
            "type": "string",
            "enum": ["skip", "error"],
            "description": "Conflict policy applied when an `external_id` already exists in the stream"
          },
          "data_stream_id": {
            "type": "integer",
            "nullable": true,
            "description": "Data stream the request targets, when applicable"
          }
        }
      },
      "DataStreamOperation": {
        "type": "object",
        "description": "Async operation against a data stream (delete or reset). Poll via GET /data_streams/{key}/operations/{id}.",
        "properties": {
          "id": { "type": "integer" },
          "data_stream_id": { "type": "integer" },
          "data_stream_key": { "type": "string" },
          "kind": {
            "type": "string",
            "enum": ["delete", "reset"]
          },
          "status": {
            "type": "string",
            "enum": ["pending", "running", "completed", "failed"]
          },
          "progress": {
            "type": "integer",
            "description": "Percentage 0-100"
          },
          "error_message": { "type": "string", "nullable": true },
          "started_at": { "type": "string", "format": "date-time", "nullable": true },
          "completed_at": { "type": "string", "format": "date-time", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "requested_by_user_id": { "type": "integer", "nullable": true }
        }
      },
      "DataStreamHealth": {
        "type": "object",
        "description": "Ingestion health snapshot for a data stream. All counts are indexed lookups; safe to poll.",
        "properties": {
          "records_count": { "type": "integer" },
          "import_batches_count": { "type": "integer" },
          "import_batches_record_sum": {
            "type": "integer",
            "description": "Sum of `record_count` across all import batches. Drift from `records_count` indicates orphaned or extra records."
          },
          "orphan_records_count": {
            "type": "integer",
            "description": "Records on this stream with no `import_batch_id` (typically created via POST /records or POST /records/bulk)"
          },
          "bulk_requests": {
            "type": "object",
            "properties": {
              "pending": { "type": "integer" },
              "processing": { "type": "integer" },
              "completed": { "type": "integer" },
              "failed": { "type": "integer" },
              "cancelled": { "type": "integer" },
              "stuck": {
                "type": "integer",
                "description": "Currently `processing` with no heartbeat for >5 minutes"
              }
            }
          },
          "last_ingestion_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Most recent record `created_at` on this stream"
          }
        }
      },
      "Record": {
        "type": "object",
        "required": [
          "date",
          "data_stream_key",
          "amount",
          "direction"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "amount": {
            "type": "integer",
            "description": "The monetary amount in cents (e.g., 1234 = $12.34)"
          },
          "currency": {
            "type": "string",
            "description": "Three-letter ISO 4217 currency code (e.g. USD, EUR). **Optional on create — defaults to `USD` when omitted.** Case-insensitive on input; always returned uppercase.",
            "pattern": "^[A-Za-z]{3}$",
            "default": "USD"
          },
          "decimal_places": {
            "type": "integer",
            "description": "Number of decimal places for this currency (2 for USD)",
            "default": 2
          },
          "direction": {
            "type": "string",
            "enum": [
              "credit",
              "debit"
            ]
          },
          "description": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "default": {}
          },
          "external_id": {
            "type": "string"
          },
          "data_stream_key": {
            "type": "string"
          }
        }
      },
      "ReconciliationEntry": {
        "description": "A record's entry in one reconciliation. Match status, escalation, and matched records are all scoped to that reconciliation; a record has one entry per reconciliation it participates in. `id` is the record id.",
        "allOf": [
          { "$ref": "#/components/schemas/Record" },
          {
            "type": "object",
            "properties": {
              "reconciliation_id": { "type": "integer" },
              "reconciliation_name": { "type": "string" },
              "status": {
                "type": "string",
                "enum": ["reconciled", "unreconciled"],
                "description": "Whether the record is matched in this reconciliation. Read-only."
              },
              "escalated": {
                "type": "boolean",
                "description": "Unmatched and past its `overdue_at`."
              },
              "overdue_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "matched_records": {
                "type": "array",
                "description": "Records matched with this record in this reconciliation",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "amount": { "type": "integer", "description": "Amount in cents" },
                    "currency": {
                      "type": "string",
                      "description": "Three-letter ISO 4217 currency code (e.g. USD, EUR)",
                      "default": "USD"
                    },
                    "decimal_places": { "type": "integer", "default": 2 },
                    "direction": { "type": "string", "enum": ["credit", "debit"] },
                    "description": { "type": "string" },
                    "date": { "type": "string", "format": "date" },
                    "external_id": { "type": "string" },
                    "data_stream_key": { "type": "string" },
                    "reconciliation_id": { "type": "integer", "description": "The reconciliation in which this match was made" },
                    "reconciliation_name": { "type": "string", "description": "Name of the reconciliation in which this match was made" }
                  }
                }
              },
              "days_unreconciled": {
                "type": "integer",
                "nullable": true,
                "description": "Number of days since the record's date. Null when the record is reconciled."
              },
              "exception_id": {
                "type": "integer",
                "nullable": true,
                "description": "Open exception covering this entry's data stream when the entry is escalated. Null otherwise."
              }
            }
          }
        ]
      },
      "Reconciliation": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Human readable name for the reconciliation"
          },
          "run_type": {
            "type": "string",
            "enum": ["continuous", "batch"],
            "default": "continuous"
          },
          "side_a_streams": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/DataStream" },
            "description": "Data streams on side A of the reconciliation"
          },
          "side_b_streams": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/DataStream" },
            "description": "Data streams on side B of the reconciliation"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "current_run": {
            "$ref": "#/components/schemas/ReconciliationRun",
            "nullable": true,
            "description": "The currently pending or running batch run, if any"
          },
          "last_run": {
            "$ref": "#/components/schemas/ReconciliationRun",
            "nullable": true,
            "description": "The most recent completed or failed batch run, if any"
          }
        }
      },
      "ReconciliationRun": {
        "type": "object",
        "description": "A single execution of a reconciliation's batch or continuous matching pipeline.",
        "properties": {
          "id": { "type": "integer" },
          "kind": {
            "type": "string",
            "enum": ["batch", "continuous"]
          },
          "status": {
            "type": "string",
            "enum": ["pending", "running", "completed", "failed"]
          },
          "trigger": {
            "type": "string",
            "enum": ["manual", "rule_activated", "agent", "record_created"],
            "description": "What initiated this run"
          },
          "total_records": {
            "type": "integer",
            "description": "Total records considered by the run"
          },
          "processed_records": {
            "type": "integer",
            "description": "Records processed so far"
          },
          "matched_records": {
            "type": "integer",
            "description": "Records that were matched during the run"
          },
          "rule_summary": {
            "type": "object",
            "nullable": true,
            "description": "Per-rule match counts, populated as the run progresses"
          },
          "progress": {
            "type": "integer",
            "description": "Processing progress as a percentage (0-100)"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ReconciliationRule": {
        "type": "object",
        "required": ["filters", "reconciliation_id"],
        "properties": {
          "id": {
            "type": "integer"
          },
          "priority": {
            "type": "integer",
            "description": "Lower values run first"
          },
          "filters": {
            "type": "object",
            "description": "A rule tree with group nodes (AND/OR) and condition leaf nodes. Conditions compare a field on one side to a field on the other side.",
            "properties": {
              "operand": {
                "type": "string",
                "enum": ["and", "or"],
                "description": "Logical operator for combining child rules"
              },
              "rules": {
                "type": "array",
                "description": "Child rules (groups or conditions)",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Source field to compare (e.g. \"amount\", \"date\", \"metadata.invoice_id\")"
                    },
                    "operand": {
                      "type": "string",
                      "enum": ["eq", "neq", "gt", "gte", "lt", "lte", "contains", "in", "not_in"],
                      "description": "Comparison operator"
                    },
                    "value": {
                      "type": "string",
                      "description": "Target field to compare against (e.g. \"amount\", \"external_id\")"
                    },
                    "tolerance_amount": {
                      "type": "number",
                      "description": "Optional tolerance for fuzzy matching with the 'eq' operand. Must be a positive number."
                    },
                    "tolerance_unit": {
                      "type": "string",
                      "enum": ["dollar", "percent", "day", "month"],
                      "description": "Unit for tolerance. 'dollar' and 'percent' for number fields, 'day' and 'month' for date fields. 'month' matches records in the same calendar month (tolerance_amount is ignored)."
                    },
                    "transforms": {
                      "type": "object",
                      "description": "Optional transforms applied to field values before comparison. Each side (key/value) can have a single transform string, a parameterized transform object, or an array of transforms applied in order (first = innermost). Available transforms: lowercase, uppercase, alphanumeric_only, digits_only, first_n_chars (requires {\"name\": \"first_n_chars\", \"args\": {\"n\": 8}}).",
                      "properties": {
                        "key": {
                          "description": "Transform(s) for the Side A (key) field."
                        },
                        "value": {
                          "description": "Transform(s) for the Side B (value) field."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "group_by": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Side A field keys to group records by before matching. The first key is the primary axis: in `rollup.group_by_kind` 'date' mode it must be a date field; in 'identifier' mode it can be any field (e.g. a batch id in metadata). Additional keys further segment Side A — in date mode each segment matches only Side B records with the same value for those fields; in identifier mode they form a composite cohort key."
          },
          "cardinality": {
            "type": "string",
            "enum": ["one_to_one", "many_to_one"],
            "default": "one_to_one",
            "description": "Match cardinality. 'one_to_one' matches single records on each side. 'many_to_one' rolls up multiple records on one side to match a single record on the other side — requires the `rollup` field to be set."
          },
          "rollup": {
            "type": "object",
            "nullable": true,
            "description": "Required when cardinality is 'many_to_one'. Configures how records on the many side are aggregated before matching.",
            "properties": {
              "lookback_days": {
                "type": "integer",
                "minimum": 1,
                "description": "Optional. Number of days of history to include when rolling up records. Must be set together with `date_field`. Omit both to match without a time bound."
              },
              "date_field": {
                "type": "string",
                "description": "Optional. The date field on the rolled-up records used to anchor the lookback window. Must be set together with `lookback_days`."
              },
              "group_by_kind": {
                "type": "string",
                "enum": ["date", "identifier"],
                "default": "date",
                "description": "How `group_by` is interpreted. 'date' (default) buckets records per day and walks a date-window running sum. 'identifier' buckets records by exact value (e.g. a batch id) and matches the bucket total to one record on the other side, optionally bounded by the lookback window."
              }
            },
            "dependentRequired": {
              "lookback_days": ["date_field"],
              "date_field": ["lookback_days"]
            }
          },
          "description": {
            "type": "string",
            "description": "Optional human-readable description of what this rule matches"
          },
          "source": {
            "type": "string",
            "enum": ["user", "ai", "default"],
            "description": "Origin of the rule. 'user' = created manually via the API or UI. 'ai' = created by the AI rules engine. 'default' = seeded built-in rule."
          },
          "status": {
            "type": "string",
            "enum": ["active", "proposed"],
            "description": "Active rules are used by the reconciliation engine. Proposed rules are awaiting review from a cold start."
          },
          "confidence": {
            "type": "string",
            "enum": ["high", "medium", "low"],
            "description": "AI confidence rating. Only present on AI-generated rules from cold start."
          },
          "sample_match_rate": {
            "type": "string",
            "description": "How many sample records this rule matched during dry-run evaluation (e.g. '42/50'). Only present on AI-generated rules from cold start."
          },
          "reconciliation_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReconciliationMatch": {
        "type": "object",
        "description": "A reconciliation match represents a group of records that have been matched together. Endclose supports many-to-one matching, so a single match can contain a large number of records — to retrieve them, use `GET /v1/records?reconciliation_match_id={id}`.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "group_key": {
            "type": "string"
          },
          "reconciliation_id": {
            "type": "integer"
          },
          "reconciliation_rule_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "record_count": {
            "type": "integer",
            "description": "Total number of records in this match"
          }
        }
      },
      "ReconciliationStory": {
        "type": "object",
        "required": ["name"],
        "description": "A reconciliation story groups related reconciliations into an ordered chain so end-to-end flow can be tracked. Each link points to a reconciliation; non-origin links must specify the data stream that connects them to the previous reconciliation in the chain.",
        "properties": {
          "id": { "type": "integer" },
          "name": {
            "type": "string",
            "description": "Human readable name for the story"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "type": "array",
            "description": "Ordered list of reconciliations participating in the story",
            "items": { "$ref": "#/components/schemas/ReconciliationStoryLink" }
          }
        }
      },
      "ReconciliationStoryLink": {
        "type": "object",
        "required": ["reconciliation_id", "position", "role"],
        "properties": {
          "id": { "type": "integer" },
          "position": {
            "type": "integer",
            "description": "1-indexed position in the chain. Must be unique within a story."
          },
          "role": {
            "type": "string",
            "enum": ["origin", "continuation"],
            "description": "The first link is the 'origin'. All subsequent links are 'continuation' and must set shared_data_stream_id."
          },
          "reconciliation_id": {
            "type": "integer",
            "description": "The reconciliation this link points to"
          },
          "reconciliation_name": {
            "type": "string"
          },
          "shared_data_stream_id": {
            "type": "integer",
            "nullable": true,
            "description": "The data stream that connects this link to the previous link in the chain. Required for continuation links, null for origin."
          },
          "shared_data_stream_name": {
            "type": "string",
            "nullable": true
          },
          "side_a_streams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "name": { "type": "string" }
              }
            }
          },
          "side_b_streams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "name": { "type": "string" }
              }
            }
          }
        }
      },
      "ReconciliationException": {
        "type": "object",
        "required": ["title", "reconciliation_id", "data_stream_id"],
        "description": "A reconciliation exception represents unmatched overdue records that need human attention. Exceptions are scoped to a (reconciliation, data_stream) tuple and managed by the sweeper job — record membership is computed on read from the set of unmatched records whose `overdue_at` has passed.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "reconciliation_id": {
            "type": "integer",
            "description": "The reconciliation this exception belongs to"
          },
          "reconciliation_name": {
            "type": "string",
            "description": "Name of the parent reconciliation"
          },
          "data_stream_id": {
            "type": "integer",
            "description": "The data stream this exception is scoped to"
          },
          "data_stream_name": {
            "type": "string",
            "description": "Human-readable name of the scoped data stream"
          },
          "data_stream_key": {
            "type": "string",
            "description": "Immutable key of the scoped data stream"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["open", "investigating", "dismissed", "resolved"],
            "default": "open"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "opened_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the exception most recently transitioned into an open state. Distinct from `created_at` so reopening is tracked cleanly."
          },
          "closed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the exception most recently transitioned into a resolved or dismissed state. Cleared on reopen."
          },
          "assignees": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "workos_user_id": { "type": "string" }
              }
            }
          },
          "decimal_places": {
            "type": "integer",
            "description": "Number of decimal places (2 for USD)",
            "default": 2
          },
          "aggregates": {
            "allOf": [{ "$ref": "#/components/schemas/ExceptionAggregates" }],
            "description": "Whole-exception aggregates over the current unmatched overdue slice."
          },
          "filtered_aggregates": {
            "allOf": [{ "$ref": "#/components/schemas/ExceptionAggregates" }],
            "description": "Aggregates restricted to the filter query parameters. Equals `aggregates` when no filter is supplied. Only present on the show response."
          },
          "comments": {
            "type": "array",
            "description": "Comments on this exception, oldest first",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "body": { "type": "string" },
                "author_workos_id": { "type": "string" },
                "mentions": {
                  "type": "array",
                  "items": { "type": "integer" },
                  "description": "User IDs mentioned in the comment"
                },
                "created_at": { "type": "string", "format": "date-time" }
              }
            }
          },
          "investigation": {
            "allOf": [{ "$ref": "#/components/schemas/AgentInvestigationSession" }],
            "nullable": true,
            "description": "The most recent agent investigation session for this exception, if any."
          },
          "investigation_sessions": {
            "type": "array",
            "description": "Up to the five most recent investigation sessions, newest first. Exceptions may accumulate multiple sessions as the overdue set evolves.",
            "items": { "$ref": "#/components/schemas/AgentInvestigationSession" }
          }
        }
      },
      "ExceptionAggregates": {
        "type": "object",
        "description": "Summary statistics for the (filtered) set of unmatched overdue records behind an exception.",
        "properties": {
          "record_count": {
            "type": "integer",
            "description": "Number of matching overdue unmatched records"
          },
          "total_amount": {
            "type": "integer",
            "description": "Sum of signed amounts in cents (debits are negative)"
          },
          "debit_count": {
            "type": "integer",
            "description": "Count of records with amount < 0"
          },
          "debit_sum": {
            "type": "integer",
            "description": "Sum of debit amounts in cents (non-positive)"
          },
          "credit_count": {
            "type": "integer",
            "description": "Count of records with amount > 0"
          },
          "credit_sum": {
            "type": "integer",
            "description": "Sum of credit amounts in cents (non-negative)"
          },
          "avg_age_days": {
            "type": "number",
            "description": "Average age in days since each record's `overdue_at`"
          },
          "oldest_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Transaction date of the oldest record in the slice"
          },
          "newest_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Transaction date of the newest record in the slice"
          }
        }
      },
      "AgentInvestigationSession": {
        "type": "object",
        "description": "An agent-run investigation into an exception's record slice.",
        "properties": {
          "id": { "type": "integer" },
          "status": {
            "type": "string",
            "description": "Investigation status (e.g. pending, running, completed, failed)"
          },
          "outcome": {
            "type": "string",
            "nullable": true,
            "enum": ["match_found", "no_match", "needs_review", null],
            "description": "Standardized outcome of a completed investigation. `match_found` = confident candidate matches; `no_match` = thorough search returned nothing; `needs_review` = candidates found but signals are weak. Null when the session is not yet completed or failed."
          },
          "recommendation_text": {
            "type": "string",
            "nullable": true,
            "description": "Agent's recommendation once the investigation completes"
          },
          "confidence_score": {
            "type": "number",
            "nullable": true,
            "description": "Agent confidence in its recommendation (0.0-1.0)"
          },
          "candidate_records_searched": {
            "type": "integer",
            "nullable": true,
            "description": "Number of candidate records the agent evaluated"
          },
          "suggested_record_ids": {
            "type": "array",
            "nullable": true,
            "items": { "type": "integer" },
            "description": "Records the agent suggests linking to this exception"
          },
          "filter_params": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Filter parameters the session was scoped to, if any. Matches the filter shape on `GET /reconciliation_exceptions/{id}`."
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ExceptionFilter": {
        "type": "object",
        "description": "Optional filter parameters that narrow an exception's record slice. All fields are optional; omit or leave blank to match everything.",
        "properties": {
          "amount_min": {
            "type": "integer",
            "description": "Include records with signed amount >= amount_min (cents)"
          },
          "amount_max": {
            "type": "integer",
            "description": "Include records with signed amount <= amount_max (cents)"
          },
          "date_from": {
            "type": "string",
            "format": "date",
            "description": "Include records with transaction date >= date_from"
          },
          "date_to": {
            "type": "string",
            "format": "date",
            "description": "Include records with transaction date <= date_to"
          },
          "direction": {
            "type": "string",
            "enum": ["debit", "credit"],
            "description": "Include only debits (amount < 0) or credits (amount > 0). Derived from the sign of `amount`, not from the record's reconciliation side."
          },
          "counterparty": {
            "type": "string",
            "description": "Case-insensitive substring match on the record description"
          },
          "age_bucket": {
            "type": "string",
            "enum": ["lt_7d", "7_30d", "30_90d", "gt_90d"],
            "description": "Convenience filter on time since `overdue_at` (less-than-7-days, 7-to-30-days, 30-to-90-days, greater-than-90-days)"
          }
        }
      },
      "ImportBatch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "data_stream_key": {
            "type": "string",
            "description": "Key of the data stream this import batch belongs to"
          },
          "source": {
            "type": "string",
            "enum": ["csv_upload", "nacha_upload", "bulk_api"],
            "description": "How the records were imported"
          },
          "filename": {
            "type": "string",
            "nullable": true,
            "description": "Original filename for CSV uploads"
          },
          "record_count": {
            "type": "integer",
            "description": "Number of records in this batch"
          },
          "total_credits": {
            "type": "integer",
            "description": "Sum of credit amounts in cents"
          },
          "total_debits": {
            "type": "integer",
            "description": "Sum of debit amounts in cents"
          },
          "net_amount": {
            "type": "integer",
            "description": "Net amount in cents (credits minus debits)"
          },
          "decimal_places": {
            "type": "integer",
            "description": "Number of decimal places (2 for USD)",
            "default": 2
          },
          "date_range_start": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Earliest record date in the batch"
          },
          "date_range_end": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Latest record date in the batch"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "records_url": {
            "type": "string",
            "description": "URL to fetch records belonging to this batch"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {}
          },
          "has_more": {
            "type": "boolean"
          },
          "offset": {
            "type": "number"
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "required": ["id", "event_type", "data"],
        "properties": {
          "id": { "type": "string", "description": "Unique identifier for the event" },
          "event_type": { "type": "string", "description": "Description of the event (e.g. record.reconciled or record.reconciliation_overdue)" },
          "timestamp": { "type": "string", "format": "date-time" },
          "data": { "type": "object", "description": "Payload data for the event" }
        }
      },
      "RecordWebhookEvent": {
        "allOf": [
          { "$ref": "#/components/schemas/WebhookEvent" },
          {
            "type": "object",
            "properties": {
              "data": { "$ref": "#/components/schemas/Record" }
            }
          }
        ]
      },
      "BankAccount": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique numeric identifier"
          },
          "name": {
            "type": "string",
            "description": "Human readable name for the bank account"
          },
          "currency": {
            "type": "string",
            "description": "Three-letter ISO 4217 currency code (e.g. USD, EUR). Must be uppercase. Optional — bank accounts may be created without a currency.",
            "pattern": "^[A-Z]{3}$",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BankAccountBalance": {
        "type": "object",
        "required": ["bank_account_id", "date", "balance_type", "amount_cents"],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique numeric identifier"
          },
          "bank_account_id": {
            "type": "integer",
            "description": "ID of the bank account this balance belongs to"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "The date of the balance"
          },
          "balance_type": {
            "type": "string",
            "enum": [
              "opening_ledger",
              "closing_ledger",
              "current_ledger",
              "opening_available",
              "opening_available_next_business_day",
              "closing_available",
              "current_available",
              "previously_closed_book",
              "other"
            ],
            "description": "The type of balance"
          },
          "amount_cents": {
            "type": "integer",
            "description": "The balance amount in cents (e.g., 1234 = $12.34)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "webhooks": {
    "record.reconciled": {
      "post": {
        "description": "When a record is reconciled",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordWebhookEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    },
    "record.reconciliation_overdue": {
      "post": {
        "description": "When a record has gone beyond its expected reconciliation date",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordWebhookEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "paths": {
    "/data_streams": {
      "get": {
        "summary": "List data streams",
        "responses": {
          "200": {
            "description": "List of data streams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataStream"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a data stream",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["key", "name"],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Unique immutable identifier"
                  },
                  "name": {
                    "type": "string",
                    "description": "Human readable name"
                  },
                  "type": {
                    "type": "string",
                    "enum": ["api", "bank_feed"],
                    "default": "api",
                    "description": "The type of data stream to create"
                  },
                  "bank_account_id": {
                    "type": "string",
                    "description": "Required when type is bank_feed. The ID of the bank account to link."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Data stream created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStream"
                }
              }
            }
          },
          "422": { "description": "Validation error (e.g. missing required fields, duplicate key, bank_account_id not found)" }
        }
      }
    },
    "/data_streams/{key}": {
      "get": {
        "summary": "Retrieve a data stream",
        "description": "Retrieve a data stream using its unique immutable key.",
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The immutable data stream key"
          }
        ],
        "responses": {
          "200": {
            "description": "Data stream retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStream"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Data stream not found"
          }
        }
      },
      "patch": {
        "summary": "Update a data stream",
        "description": "Update the name of a data stream.",
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The immutable data stream key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New human readable name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data stream updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStream"
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Data stream not found" }
        }
      },
      "delete": {
        "summary": "Delete a data stream",
        "description": "Permanently deletes a data stream and all associated records and property definitions.\n\n**Sync vs async:** Streams with at most 10,000 records are deleted synchronously and return 204. Streams above that threshold *must* be deleted asynchronously by passing `?async=true`; otherwise the request fails with 409. Callers may also opt into the async path explicitly for any size. The async path returns 202 with a `DataStreamOperation` payload; poll `GET /data_streams/{key}/operations/{id}` for progress.",
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": { "type": "string" },
            "description": "The immutable data stream key"
          },
          {
            "in": "query",
            "name": "async",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            },
            "description": "When `\"true\"`, run the delete asynchronously and return 202 + a `DataStreamOperation`. Required for streams with more than 10,000 records."
          }
        ],
        "responses": {
          "204": { "description": "Data stream deleted synchronously (record count ≤ 10,000 and `async` not requested)" },
          "202": {
            "description": "Async delete accepted. Poll `GET /data_streams/{key}/operations/{id}` (also set in the `Location` header) until `status` is `completed` or `failed`.",
            "headers": {
              "Location": {
                "description": "URL of the operation to poll",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DataStreamOperation" }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Data stream not found" },
          "409": {
            "description": "Either (a) the stream is linked to reconciliations and cannot be deleted, or (b) it has more than 10,000 records and `?async=true` was not provided.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data_streams/{key}/reset": {
      "post": {
        "summary": "Reset a data stream",
        "description": "Asynchronously wipes all records on the stream while preserving stream config, property definitions, and reconciliation links. Always async. Poll the returned operation.",
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": { "type": "string" },
            "description": "The immutable data stream key"
          }
        ],
        "responses": {
          "202": {
            "description": "Reset accepted. Poll `GET /data_streams/{key}/operations/{id}` (also set in the `Location` header).",
            "headers": {
              "Location": {
                "description": "URL of the operation to poll",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DataStreamOperation" }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Data stream not found" }
        }
      }
    },
    "/data_streams/{key}/health": {
      "get": {
        "summary": "Get data stream ingestion health",
        "description": "Cheap, indexed snapshot of ingestion health for the stream — record count, import batch totals, orphan records, bulk request counters by status, and last ingestion time. Safe to poll from the UI.",
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": { "type": "string" },
            "description": "The immutable data stream key"
          }
        ],
        "responses": {
          "200": {
            "description": "Health snapshot",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DataStreamHealth" }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Data stream not found" }
        }
      }
    },
    "/data_streams/{key}/operations/{id}": {
      "get": {
        "summary": "Get a data stream operation",
        "description": "Poll a delete or reset operation kicked off against this data stream. Returns the serialized `DataStreamOperation`.",
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": { "type": "string" },
            "description": "The immutable data stream key"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" },
            "description": "The operation ID returned by DELETE /data_streams/{key} or POST /data_streams/{key}/reset"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DataStreamOperation" }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Operation not found or does not belong to this data stream" }
        }
      }
    },
    "/data_stream_property_definitions": {
      "get": {
        "summary": "List property definitions",
        "parameters": [
          {
            "in": "query",
            "name": "data_stream_key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of property definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecordPropertyDefinition"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a property definition",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordPropertyDefinition"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Property definition created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordPropertyDefinition"
                }
              }
            }
          }
        }
      }
    },
    "/data_stream_property_definitions/{id}": {
      "get": {
        "summary": "Retrieve a property definition",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordPropertyDefinition"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a property definition",
        "description": "Update the name or optional flag of a property definition.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "optional": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Property definition updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordPropertyDefinition"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a property definition",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": { "description": "Property definition deleted successfully" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Property definition not found" }
        }
      }
    },
    "/records": {
      "get": {
        "summary": "List records",
        "description": "Returns a paginated list of records, newest first. At least one of `data_stream_key`, `reconciliation_match_id`, `reconciliation_id`, `external_id`, `import_batch_id`, or `bulk_request_id` is required.\n\nPagination is cursor-based: pass each response's `next_cursor` back as `cursor` until `next_cursor` is null. The legacy `offset` parameter and its `has_more`/`offset`/`total_count` response shape have been removed.",
        "parameters": [
          {
            "in": "query",
            "name": "data_stream_key",
            "required": false,
            "schema": { "type": "string" },
            "description": "Filter by data stream key"
          },
          {
            "in": "query",
            "name": "reconciliation_match_id",
            "required": false,
            "schema": { "type": "string" },
            "description": "Filter to records that belong to the given match"
          },
          {
            "in": "query",
            "name": "reconciliation_id",
            "required": false,
            "schema": { "type": "string" },
            "description": "Filter to records that have a status row in the given reconciliation"
          },
          {
            "in": "query",
            "name": "external_id",
            "required": false,
            "schema": { "type": "string" },
            "description": "Filter to records with this exact `external_id`"
          },
          {
            "in": "query",
            "name": "import_batch_id",
            "required": false,
            "schema": { "type": "integer" },
            "description": "Filter to records created by this import batch"
          },
          {
            "in": "query",
            "name": "bulk_request_id",
            "required": false,
            "schema": { "type": "integer" },
            "description": "Filter to records created by this bulk request"
          },
          {
            "in": "query",
            "name": "created_after",
            "required": false,
            "schema": { "type": "string", "format": "date-time" },
            "description": "ISO8601 lower bound on `created_at`"
          },
          {
            "in": "query",
            "name": "created_before",
            "required": false,
            "schema": { "type": "string", "format": "date-time" },
            "description": "ISO8601 upper bound on `created_at`"
          },
          {
            "in": "query",
            "name": "source",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["csv_upload", "nacha_upload", "bulk_api"]
            },
            "description": "Filter via the joined import batch's `source`"
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["matched", "unmatched"]
            },
            "description": "Filter by match status"
          },
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": { "type": "string" },
            "description": "Opaque cursor from a previous response's `next_cursor`. Omit for the first page."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Record" }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Opaque cursor for the next page. Null when no more pages."
                    },
                    "limit": { "type": "integer" }
                  }
                }
              }
            }
          },
          "422": { "description": "No scoping filter provided, or invalid `status`, `created_after`, or `created_before`" }
        }
      },
      "post": {
        "summary": "Create a record",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Record"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Record created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          }
        }
      }
    },
    "/records/bulk": {
      "post": {
        "summary": "Bulk create records",
        "description": "Submit up to 1,000 records for asynchronous processing. Returns immediately with a bulk request ID. Each record is validated and inserted independently, so some records can succeed while others fail. Use the `GET /bulk_requests/{id}` endpoint to poll for results.",
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key. If a bulk request with this key already exists for your environment, the existing request is returned instead of creating a new one."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["records"],
                "properties": {
                  "on_conflict": {
                    "type": "string",
                    "enum": ["skip", "error"],
                    "default": "skip",
                    "description": "How to handle records whose `external_id` already exists in the target stream. `skip` (default) silently skips duplicates and counts them in `skipped_items`. `error` surfaces duplicates as per-row failures. Only applies to records with `external_id` set."
                  },
                  "records": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1000,
                    "items": {
                      "type": "object",
                      "required": ["date", "data_stream_key", "amount", "direction"],
                      "properties": {
                        "date": {
                          "type": "string",
                          "format": "date",
                          "description": "The date of the record"
                        },
                        "data_stream_key": {
                          "type": "string",
                          "description": "Key of the data stream this record belongs to"
                        },
                        "amount": {
                          "type": "integer",
                          "description": "The monetary amount in cents (e.g., 1234 = $12.34)"
                        },
                        "currency": {
                          "type": "string",
                          "description": "Three-letter ISO 4217 currency code (e.g. USD, EUR). **Optional — defaults to `USD` when omitted.** Case-insensitive on input.",
                          "pattern": "^[A-Za-z]{3}$",
                          "default": "USD"
                        },
                        "direction": {
                          "type": "string",
                          "enum": ["credit", "debit"],
                          "description": "Whether this is a credit or debit"
                        },
                        "description": {
                          "type": "string",
                          "description": "Optional description"
                        },
                        "external_id": {
                          "type": "string",
                          "description": "Optional external identifier"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": true,
                          "default": {},
                          "description": "Arbitrary key-value metadata"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Bulk request accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRequestSummary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `on_conflict` value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid request (e.g. records is not an array, empty, or exceeds 1,000 items)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bulk_requests": {
      "get": {
        "summary": "List bulk requests",
        "description": "Cursor-paginated list of bulk requests in your environment, ordered by `created_at` descending. Filter by data stream, status, or source.",
        "parameters": [
          {
            "in": "query",
            "name": "data_stream_key",
            "schema": { "type": "string" },
            "description": "Filter to bulk requests targeting this data stream"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": ["pending", "processing", "completed", "failed", "cancelled"]
            }
          },
          {
            "in": "query",
            "name": "source",
            "schema": { "type": "string" },
            "description": "Filter by request source (e.g. `bulk_api`, `csv`, `nacha`)"
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": { "type": "string", "format": "date-time" },
            "description": "ISO8601 lower bound on `created_at`"
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": { "type": "string", "format": "date-time" },
            "description": "ISO8601 upper bound on `created_at`"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": { "type": "string" },
            "description": "Opaque cursor returned by a previous call's `next_cursor`. Omit for the first page."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated bulk requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/BulkRequest" }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Pass back as `cursor` to fetch the next page. Null when no more pages."
                    },
                    "limit": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "422": { "description": "Invalid `status`, `created_after`, or `created_before`" }
        }
      }
    },
    "/bulk_requests/{id}": {
      "get": {
        "summary": "Get bulk request status",
        "description": "Poll the status of an asynchronous bulk request. Returns the bulk request payload plus paginated per-row results. Results grow as processing continues, so only non-pending items are included.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The bulk request ID returned from POST /records/bulk"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Number of result items to return"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset for result items"
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk request payload with paginated results",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/BulkRequest" },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "index": {
                                    "type": "integer",
                                    "description": "Zero-based position in the original request array"
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": ["successful", "failed", "skipped"]
                                  },
                                  "record_id": {
                                    "type": "integer",
                                    "description": "ID of the created record. Only present when status is successful"
                                  },
                                  "error": {
                                    "type": "string",
                                    "description": "Error message. Only present when status is failed"
                                  }
                                }
                              }
                            },
                            "has_more": { "type": "boolean" },
                            "offset": { "type": "integer" }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Bulk request not found"
          }
        }
      }
    },
    "/bulk_requests/{id}/cancel": {
      "post": {
        "summary": "Cancel a bulk request",
        "description": "Sets `cancellation_requested_at` so the running job exits cleanly to `cancelled` on its next heartbeat. Idempotent — re-cancelling just bumps the timestamp.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "202": {
            "description": "Cancellation requested",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BulkRequest" }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Bulk request not found" },
          "409": {
            "description": "Bulk request is not in a cancellable status (must be `pending` or `processing`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bulk_requests/{id}/retry": {
      "post": {
        "summary": "Retry a bulk request",
        "description": "Creates a new bulk request that re-runs only the parent's failed and skipped items. The new request's `parent_bulk_request_id` points at the original.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID of the failed or cancelled bulk request to retry"
          }
        ],
        "responses": {
          "202": {
            "description": "Retry created and enqueued. Returns the **new** bulk request, not the parent.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BulkRequest" }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Bulk request not found" },
          "409": {
            "description": "Bulk request is not in a retryable status (must be `failed` or `cancelled`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data_streams/{key}/import_batches": {
      "get": {
        "summary": "List import batches",
        "description": "Returns a paginated list of import batches for a data stream.",
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The immutable data stream key"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of import batches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ImportBatch"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "offset": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Data stream not found"
          }
        }
      }
    },
    "/import_batches/{id}": {
      "get": {
        "summary": "Retrieve an import batch",
        "description": "Retrieve a single import batch by its unique ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the import batch"
          }
        ],
        "responses": {
          "200": {
            "description": "Import batch retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportBatch"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Import batch not found"
          }
        }
      }
    },
    "/import_batches/{id}/records": {
      "get": {
        "summary": "List records for an import batch",
        "description": "Returns a paginated list of records belonging to a specific import batch.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the import batch"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Record"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "offset": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Import batch not found"
          }
        }
      }
    },
    "/records/{id}": {
      "get": {
        "summary": "Retrieve a record",
        "description": "Retrieve a single record by its unique ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the record"
          }
        ],
        "responses": {
          "200": {
            "description": "Record retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Record not found"
          }
        }
      },
      "patch": {
        "summary": "Update a record",
        "description": "Update a record's fields. The record **must have a status of `unreconciled`**. Records that are partially or fully reconciled cannot be modified.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the record"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": { "type": "integer", "description": "The monetary amount in cents (e.g., 1234 = $12.34)" },
                  "direction": { "type": "string", "enum": ["credit", "debit"] },
                  "description": { "type": "string" },
                  "date": { "type": "string", "format": "date" },
                  "external_id": { "type": "string" },
                  "metadata": { "type": "object", "additionalProperties": true }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Record not found" },
          "409": { "description": "Record cannot be modified because it has already been reconciled" }
        }
      },
      "delete": {
        "summary": "Delete a record",
        "description": "Deletes a single record by its ID. The record **must have a status of `unreconciled`**. Records that are partially or fully reconciled cannot be deleted.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the record"
          }
        ],
        "responses": {
          "204": {
            "description": "Record deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Record not found"
          },
          "409": {
            "description": "Record cannot be deleted because it is already reconciled or partially reconciled"
          }
        }
      }
    },
    "/reconciliations/{reconciliation_id}/records/{record_id}/mark_overdue": {
      "post": {
        "summary": "Mark a record as overdue",
        "description": "Flags a record as overdue within a specific reconciliation by setting the `overdue_at` timestamp on its reconciliation entry. The reconciliation and record are both named in the path — the subject is the (reconciliation, record) entry, so the same record can be overdue in one reconciliation and matched in another. The record's data stream must be part of the reconciliation. If no entry exists yet for the record and reconciliation, one is created so unmatched records can be flagged as overdue. Records already matched in this reconciliation cannot be marked overdue. Once overdue, the record is picked up by the exceptions sweeper and rolled into the data-stream-scoped exception for that reconciliation.",
        "parameters": [
          {
            "in": "path",
            "name": "reconciliation_id",
            "required": true,
            "schema": { "type": "string" },
            "description": "The unique identifier of the reconciliation the record should be marked overdue in"
          },
          {
            "in": "path",
            "name": "record_id",
            "required": true,
            "schema": { "type": "string" },
            "description": "The unique identifier of the record"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "overdue_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the record should be considered overdue. Defaults to the current time."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The record's entry in the given reconciliation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReconciliationEntry" }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": {
            "description": "Record or reconciliation not found"
          },
          "409": {
            "description": "Record is already matched in this reconciliation and cannot be marked overdue"
          },
          "422": {
            "description": "Record's data stream is not part of the reconciliation, or invalid `overdue_at`"
          }
        }
      }
    },
    "/reconciliations": {
      "get": {
        "summary": "List reconciliations",
        "description": "Returns a paginated list of reconciliations with their associated data streams, newest first.",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": { "type": "string" },
            "description": "Opaque cursor from a previous response's `next_cursor`. Omit for the first page."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of reconciliations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Reconciliation" }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Opaque cursor for the next page. Null when no more pages."
                    },
                    "limit": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a reconciliation",
        "description": "Create a new reconciliation with optional side A and side B data stream associations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string" },
                  "run_type": { "type": "string", "enum": ["continuous", "batch"], "default": "continuous" },
                  "side_a_stream_ids": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "IDs of data streams to assign to side A"
                  },
                  "side_b_stream_ids": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "IDs of data streams to assign to side B"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reconciliation created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Reconciliation" }
              }
            }
          },
          "422": { "description": "Validation error" }
        }
      }
    },
    "/reconciliations/{id}": {
      "get": {
        "summary": "Retrieve a reconciliation",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Reconciliation retrieved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Reconciliation" }
              }
            }
          },
          "404": { "description": "Reconciliation not found" }
        }
      },
      "patch": {
        "summary": "Update a reconciliation",
        "description": "Update reconciliation name, run type, or reassign data streams. If stream IDs are provided, all existing stream associations are replaced.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "run_type": { "type": "string", "enum": ["continuous", "batch"] },
                  "side_a_stream_ids": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "side_b_stream_ids": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reconciliation updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Reconciliation" }
              }
            }
          },
          "404": { "description": "Reconciliation not found" }
        }
      },
      "delete": {
        "summary": "Delete a reconciliation",
        "description": "Permanently deletes a reconciliation and all associated rules, matches, and data stream associations.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "204": { "description": "Reconciliation deleted successfully" },
          "404": { "description": "Reconciliation not found" }
        }
      }
    },
    "/reconciliation_rules": {
      "get": {
        "summary": "List reconciliation rules",
        "description": "Returns all rules for a reconciliation, ordered by priority.",
        "parameters": [
          {
            "in": "query",
            "name": "reconciliation_id",
            "required": true,
            "schema": { "type": "string" },
            "description": "The reconciliation to list rules for"
          }
        ],
        "responses": {
          "200": {
            "description": "List of rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ReconciliationRule" }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a reconciliation rule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["reconciliation_id", "filters"],
                "properties": {
                  "reconciliation_id": { "type": "string" },
                  "filters": { "$ref": "#/components/schemas/ReconciliationRule/properties/filters" },
                  "priority": { "type": "integer", "default": 0 },
                  "group_by": { "$ref": "#/components/schemas/ReconciliationRule/properties/group_by" },
                  "cardinality": { "$ref": "#/components/schemas/ReconciliationRule/properties/cardinality" },
                  "rollup": { "$ref": "#/components/schemas/ReconciliationRule/properties/rollup" },
                  "description": { "type": "string", "description": "Optional human-readable description of what this rule matches" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rule created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReconciliationRule" }
              }
            }
          },
          "422": { "description": "Validation error" }
        }
      }
    },
    "/reconciliation_rules/{id}": {
      "get": {
        "summary": "Retrieve a reconciliation rule",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Rule retrieved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReconciliationRule" }
              }
            }
          },
          "404": { "description": "Rule not found" }
        }
      },
      "patch": {
        "summary": "Update a reconciliation rule",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": { "type": "object" },
                  "priority": { "type": "integer" },
                  "group_by": { "$ref": "#/components/schemas/ReconciliationRule/properties/group_by" },
                  "cardinality": { "$ref": "#/components/schemas/ReconciliationRule/properties/cardinality" },
                  "rollup": { "$ref": "#/components/schemas/ReconciliationRule/properties/rollup" },
                  "description": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rule updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReconciliationRule" }
              }
            }
          },
          "404": { "description": "Rule not found" }
        }
      },
      "delete": {
        "summary": "Delete a reconciliation rule",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "204": { "description": "Rule deleted successfully" },
          "404": { "description": "Rule not found" }
        }
      }
    },
    "/reconciliations/{id}/agent_status": {
      "get": {
        "summary": "Get reconciliation agent status",
        "description": "Returns the current status of the reconciliation agent, which automatically creates and refines matching rules. The agent runs automatically when records are uploaded or manually matched — no manual triggering is needed.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" },
            "description": "The reconciliation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["idle", "running", "failed"],
                      "description": "Current agent status"
                    },
[...]
